{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Site Vitrine Artistique{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'galerie/style.css' %}">
  <script type="module" src="{% static 'galerie/brume.js' %}"></script>
</head>
<body>
    <canvas id="brume-bg"></canvas>
    <nav class="navbar">
        <ul>
            <li><a href="{% url 'home' %}">Accueil</a></li>
            <li><a href="{% url 'galerie' %}">Galerie</a></li>
            <li><a href="{% url 'mosaique' %}">Mosaïque</a></li>
            <li><a href="{% url 'a_propos' %}">À propos</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>
  <div class="background"></div>

  <div class="content">
    {% block content %}{% endblock %}
  </div>

  <div class="social-bar">
    <a href="https://www.instagram.com/tonprofil" target="_blank" title="Instagram">
        <img src="{% static 'galerie/icons/instagram.svg' %}" alt="Instagram">
    </a>

    <a href="https://www.facebook.com/tonprofil" target="_blank" title="Facebook">
        <img src="{% static 'galerie/icons/facebook.svg' %}" alt="Facebook">
    </a>

    <a href="mailto:contact@tonsite.fr" title="Email">
        <img src="{% static 'galerie/icons/gmail.svg' %}" alt="Email">
    </a>
</div>
</body>
</html>